.advantages {
  padding: 70px 0;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.advantages__title {
  display: block;
  margin: 0 auto 24px;
  font-weight: 700;
  font-size: 35px;
  color: var(--main-color);
  text-align: center;
}

.advantages__subtitle {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 34px;
  font-weight: 500;
  font-size: 22px;
  color: var(--main-color);
  text-align: center;
  align-self: center;
}

.advantages__subtitle::before {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  width: 43px;
  height: 2px;
  left: 80px;
}

.advantages__subtitle::after {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  width: 43px;
  height: 2px;
  right: 80px;
}

.advantages__text {
  display: block;
  max-width: 724px;
  margin-bottom: 58px;
  color: var(--main-color);
  line-height: 140.6%;
  font-size: 18px;
  text-align: center;
  align-self: center;
}

.advantages__list {
  max-width: 934px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 51px;
  counter-reset: count 0;
}

.advantages__items {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 195px;
  height: 195px;
}

.advantages__items::after {
  position: absolute;
  align-self: center;
  content: counter(count);
  counter-increment: count;
  font-size: 57px;
  font-weight: 500;
  transform: translateY(45%);
}

.advantages__items-ring {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: var(--style-color);
  align-self: center;
}

.advantages__items-text {
  font-weight: 500;
  color: var(--main-color);
  line-height: 140.6%;
  text-align: center;
}

@media (max-width: 1200px) {
    .advantages__container {
    max-width: 1082px;
    }

    .advantages__title {
    margin: 0 auto 23px;
    font-size: 32px;
  }

  .advantages__subtitle {
    margin: 0 0 31px;
    font-size: 20px;
    padding-right: 4px;
  }

  .advantages__subtitle::before {
    width: 40px;
    height: 2px;
    left: 74px;
  }

  .advantages__subtitle::after {
    width: 40px;
    height: 2px;
    right: 76px;
  }

  .advantages__text {
    max-width: 666px;
    font-size: 16px;
    padding-right: 3px;
    margin-bottom: 60px;
  }

  .advantages__list {
    max-width: 870px;
  }

  .advantages__items {
    gap: 26px;
    width: 180px;
    height: 182px;
  }

  .advantages__items::after {
    transform: translateY(27%);
  }

  .advantages__items-ring {
    width: 104px;
    height: 104px;
  }

  .advantages__items-text {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 880px) {
  .advantages__list {
    gap: 0px;
  }
}

@media (max-width: 742px) {
  .advantages {
    padding: 30px 0 60px;
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .advantages__items {
    gap: 26px;
    width: 166px;
    height: 182px;
  }
  
  .advantages__items::after {
    font-size: 52px;
    transform: translateY(37%);
  }
  
  .advantages__items-ring {
    width: 104px;
    height: 104px;
  }
  
  .advantages__items-text {
    font-size: 18px;
    letter-spacing: normal;
  }
}

@media (max-width: 660px) {
  .advantages__container {
    max-width: 320px;
    padding: 0 15px;
  }
  
  .advantages__title {
    margin: 0 auto 25px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .advantages__subtitle {
    margin: 0 0 29px;
    font-size: 16px;
  }
  
  .advantages__subtitle::before {
    width: 19px;
    height: 1px;
    left: 71px;
  }
  
  .advantages__subtitle::after {
    width: 19px;
    height: 1px;
    right: 71px;
  }
  
  .advantages__text {
    max-width: 320px;
    margin-bottom: 40px;
    font-size: 12px;
  }
}

