.content {
  padding-top: 90px;
}

.content__grid {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(4, 245px);
  grid-template-rows: repeat(4, 245px);
}

.content__banner {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 480px;
  margin-bottom: 60px;
  border-radius: 20px;
}

.content__banner-text {
  display: inline-block;
  font-size: 70px;
  font-weight: 700;
  line-height: 130%;
  padding: 145px 0 0 112px;
  margin-bottom: 100px;
}

.content__banner-countdown {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 5px;
}

.countdown {
  display: flex;
  justify-content: center;
}

.countdown-item {
  margin-right: 30px;
  text-align: center;
}

.countdown-item:last-child {
  margin-right: 0;
  text-align: center;
}

.countdown-item span {
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
}

.label {
  display: inline-block;
  font-size: 32px;
}

.book {
  grid-area: book;
}

.clock {
  grid-area: clock;
}

.red {
  grid-area: red-shoe;
}

.shoes {
  grid-area: shoes;
}

.gift {
  grid-area: gift;
}

.december {
  grid-area: december;
}

.year {
  grid-area: year;
}

.clean {
  grid-area: clean;
}

.ball {
  grid-area: ball;
}

.girl {
  grid-area: girl;
}

.content__card-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
