
.footer {
  background-color: rgba(47,50,75);
}

.navigation-footer {
  padding: 45px 0;
}

.navigation-company {
  display: flex;
  align-items: center;
  gap: 19px;
}

.navigation-tm {
  display: flex;
  flex-direction: column;
  width: 127px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140.6%;
}

.navigation-author {
  font-size: 12px;
  font-weight: 500;
  width: 171px;
  height: 17px;
}

.author {
  display: none;
}

.author__text {
  display: none;
}

@media (max-width: 1200px) {
  .navigation-tm {
    height: 31px;
  }
}

@media (max-width: 660px) {
  .navigation {
    flex-wrap: wrap;
  }

  footer .navigation {
    padding: 25px 15px;
  }

  .navigation-tm {
    width: 87.3px;
    height: 22px;
    font-size: 8px;
  }

  .navigation-author {
    display: none;
}

  .author {
    display: block;
    padding: 15px 80px;
    margin: 0 auto;
    background-color: #2A2C3F;
  }

  .author__text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 140.6%;
    text-align: center;
    opacity: 50%;
  }
}