.navigation-company {
  display: flex;
  align-items: center;
  gap: 19px;
}

.navigation-tm {
  display: flex;
  flex-direction: column;
  width: 127px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140.6%;
}

.navigation-author {
  font-size: 12px;
  font-weight: 500;
  width: 171px;
  height: 17px;
}

@media (max-width: 1200px) {
  .navigation-tm {
    height: 31px;
  }
}