.textarea {
  resize: none;
  height: 112px;
  min-height: 112px;
}


.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.psevdo {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20px;
  margin-bottom: 12px;
}

.close {
  position: absolute;
  background-image: url("../icons/Group\ 85.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  border: none;
  top: 50%;
  right: 30px;

}

.page__title {
  color: #6E6893;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 106px;
  }

  .form {
    /* background-color: #e21717; */
    max-width: 792px;
    max-height: 823px;
    margin: 0 auto;
    padding: 43px 106px 99px;
  }

  .form__style {
    border: 2px;
    border-radius: 6px;
    border-color: black;
    background-color: #fff;
    padding: 32px 12px 12px;
  }
  
  .form__group {
    position: relative;
    border: 0;
    padding: 16px;
  }


  .form__label {
  position: absolute;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #6E6893;
  text-transform: uppercase;
  margin-left: 10px;
  top: -5px;
  }

.form__input-item {
  display: block;
  background-color: #F2F0F9;
  border-radius: 6px;
  min-height: 40px;
  width: 100%;
  border: none;
  padding: 0;
}

.form__input-checkbox {
  background-image: url("../icons/Group\ 91.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.form__input-style{
  overflow: hidden;
}

.form__input-number {
  background-color: #F2F0F9;
  border-radius: 6px;
  width: 100%;
  max-width: 474px;
  height: 40px;
  border: none;
}

.button {
  background-color: #6D5BD0;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 200px;
  height: 39px;
  float: right;
  margin-right: 32px;
  margin-top: 30px;
  border: none;
}