.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/stag-office-mockup.jpg");
  opacity: 0.15;
}

.navigation {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 200px 0;
}

.navigation:last-child {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 200px;
}

.navigation-logo {
  display: flex;
  width: 68px;
  height: 68px;
  background-color: var(--style-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.navigation-logo-text {
  color: var(--main-color);
  font-family: "Pacifico", sans-serif;
  font-size: 25.16px;
}

.navigation-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 208px;
  height: 53px;
}

.navigation-phone-number {
  display: block;
  height: 30px;
  font-size: 23.85px;
}

.navigation-phone-text {
  display: block;
  height: 17px;
  font-size: 16px;
}

.description {
  display: flex;
  padding: 120px 304px;
  flex-direction: column;
  align-items: center;
}

.description-title {
  display: block;
  max-width: 990px;
  margin: 0 0 35px;
  font-weight: 900;
  font-size: 52px;
  text-align: center;
  opacity: 0.85;
}

.description-text {
  display: block;
  max-width: 960px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140.6%;
  text-align: center;
  margin-bottom: 90px;
  opacity: 0.85;
}

.description-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  background-color: var(--style-color);
  border-radius: 50px;
}

.description-button-text {
  display: block;
  font-weight: 500;
}