.header {
  background-color: rgba(47,50,75,0.85);
}

.background-top {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  height: 742px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/stag-office-mockup.jpg");
}

.navigation {
  margin: 0 auto;
  padding: 45px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  display: flex;
  width: 68px;
  height: 68px;
  background-color: var(--style-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-family: "Pacifico", sans-serif;
  font-size: 25.16px;
}

.navigation-mobile {
  display: none;
}

.navigation-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 208px;
  height: 53px;
}

.navigation-phone-number {
  display: block;
  height: 30px;
  font-size: 23.85px;
}

.navigation-phone-text {
  display: block;
  font-size: 16px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.description {
  padding: 120px 0;
  background-color: rgba(47,50,75,0.85);
}

.description__container {
  max-width: 1600px;
  padding: 0 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-title {
  display: block;
  max-width: 990px;
  margin: 0 0 35px;
  font-weight: 900;
  font-size: 52px;
  text-align: center;
  opacity: 0.85;
}

.description-text {
  display: block;
  max-width: 960px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140.6%;
  text-align: center;
  margin-bottom: 90px;
  opacity: 0.85;
}

.description-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  background-color: var(--style-color);
  border-radius: 50px;
}

.description-button-text {
  display: block;
  font-weight: 500;
}

@media (max-width: 1200px) {
.navigation {
  padding: 26px 30px 0;
}

.navigation:last-child {
  padding: 37px 30px 49px;
}

.navigation-logo {
  width: 60px;
  height: 60px;
  font-size: 22px;
}

.navigation-mobile {
  display: none;
}

.navigation-phone {
  gap: 4px;
  width: 186px;
  height: 49px;
}

.navigation-phone-number {
  height: 26px;
  font-size: 21px;
}

.navigation-phone-text {
  height: 18px;
  font-size: 13px;
}

.description {
  padding: 70px 122px;
}

.description-title {
  max-width: 780px;
  margin: 0 0 27.57px;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  opacity: 0.85;
}

.description-text {
  max-width: 754px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 60.43px;
  opacity: 0.75;
}
}

@media (max-width: 660px) {
  .navigation {
    padding: 15px 15px 0;
  }

  .navigation-logo {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }

  .navigation-mobile {
    display: flex;
    width: 24px;
    height: 24px;
    background-color: #555A7B;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
  }
  
  .navigation-phone {
    display: none;
  }
  
  .description {
    padding: 65px 15px;
  }
  
  .description-title {
    max-width: 290px;
    margin: 0 0 23px;
    font-size: 20px;
  }
  
  .description-text {
    max-width: 290px;
    font-size: 14px;
    margin-bottom: 54px;
  }
  
  .description-text-full {
    display: none;
  }

  .description-button {
    padding: 9px 29px;
  }
  
  .description-button-text {
    font-size: 16px;
  }
}